# Step 1: Create a New Notebook and Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Set the correct path

In [2]:
path = r'C:\Users\Asus\Music\CareerFoundry_Python_Session'

# Import the new customer dataset as a DataFrame

In [3]:
customers = pd.read_csv(os.path.join(path, 'Customers.csv'))

# Preview the newly imported DataFrame

In [4]:
print(customers.head(10))

   CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0           1    Male   19              15000                      39
1           2    Male   21              35000                      81
2           3  Female   20              86000                       6
3           4  Female   23              59000                      77
4           5  Female   31              38000                      40
5           6  Female   22              58000                      76
6           7  Female   35              31000                       6
7           8  Female   23              84000                      94
8           9    Male   64              97000                       3
9          10  Female   30              98000                      72

      Profession  Work Experience  Family Size
0     Healthcare                1            4
1       Engineer                3            3
2       Engineer                1            1
3         Lawyer                0            2
4  Entertainment                2            6
5         Artist                0            2
6     Healthcare                1            3
7     Healthcare                1            3
8       Engineer                0            3
9         Artist                1            4

# Check data types

In [5]:
# Check data types
print(customers.dtypes)

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income ($)          int64
Spending Score (1-100)     int64
Profession                object
Work Experience            int64
Family Size                int64
dtype: object

# Renaming columns to be consistent and descriptive

In [6]:
customers.rename(columns={
    'CustomerID': 'Customer_ID',
    'Annual Income ($)': 'Annual_Income',
    'Spending Score (1-100)': 'Spending_Score',
    'Work Experience': 'Work_Experience',
    'Family Size': 'Family_Size'
}, inplace=True)

# Check the new column names to ensure changes are applied

In [7]:
print(customers.columns)

Index(['Customer_ID', 'Gender', 'Age', 'Annual_Income', 'Spending_Score',
       'Profession', 'Work_Experience', 'Family_Size'],
      dtype='object')

# Checking for missing values

In [10]:
print(customers.duplicated().sum())

0

# View descriptive statistics

In [11]:
print(customers.describe())

       Customer_ID          Age  Annual_Income  Spending_Score  \
count  2000.000000  2000.000000    2000.000000     2000.000000
mean   1000.500000    48.960000  110731.821500       50.962500
std     577.494589    28.429747   45739.536688       27.934661
min       1.000000     0.000000       0.000000        0.000000
25%     500.750000    25.000000   74572.000000       28.000000
50%    1000.500000    48.000000  110045.000000       50.000000
75%    1500.250000    73.000000  149092.750000       75.000000
max    2000.000000    99.000000  189974.000000      100.000000

       Work_Experience  Family_Size
count      2000.000000  2000.000000
mean          4.102500     3.768500
std           3.922204     1.970749
min           0.000000     1.000000
25%           1.000000     2.000000
50%           3.000000     4.000000
75%           7.000000     5.000000
max          17.000000     9.000000

In [12]:
output_path = os.path.join(path, 'cleaned_customers.csv')
customers.to_csv(output_path, index=False)

print(f"Cleaned dataset saved at: {output_path}")

Cleaned dataset saved at: C:\Users\Asus\Music\CareerFoundry_Python_Session\cleaned_customers.csv